language: php

php:
  - 7.0.33
  - 7.1.33
  - 7.2.25
  - 7.3.12
  - 7.4.0

sudo: required

services:
  - docker

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - docker pull php:7.2-apache
  - docker pull italia/spid-testenv2

install:
  - docker --version
  - docker-compose --version
  - docker-compose pull
  - docker-compose up --build --no-start
  - docker-compose start
  - docker ps
  - composer install --no-interaction

before_script:
  - source .env
  - wget --spider --timeout=15 --retry-connrefused "$SP_ENTITYID"
  - wget --spider --timeout=15 --retry-connrefused "$IDP_ENTITYID"
